<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorize</title>
</head>
<body>
    <div>
        <h1>Login</h1>
        <div>
            <label for="username">username</label>
            <input name="username" type="text"/>
        </div>
        <br/>
        <div>
            <label for="password">password</label>
            <input name="password" type="password"/>
        </div>
        <br/>
        <button onClick="loginHandler()">LOGIN</button>
    </div>
</body>
</html>


<script>
    function loginHandler() {
        window.location.href = "http://localhost:3001/login";
    }
</script>